.logo-zencard-topo {
  height: 75px;
}

.horizontal-row-header {
  background-color: var(--second-color);
  height: 2.5px;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.secure-site-label {
  color: var(--third-color);
}

.header-root {
  height: var(--header-height);
}
