.screen-height {
  height: calc(100vh - var(--header-height));
}

.mt-large {
  margin-top: 2.5rem;
}

.pl-0 {
  padding-left: 0px;
}

.p-large {
  padding: 3.5rem;
}

.ml-15 {
  margin-left: 15px;
}
