<div class="row">
    <div class="col-md-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username-input">Usuário</label>
                <input type="text" class="form-control" id="username-input" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password-input">Senha</label>
                <input type="password" class="form-control" id="password-input" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Realizar Login</button>
        </form>
    </div>
</div>

